header {
	display: flex;
	flex-direction: column;
	margin-top: 11.4rem;
}

.main_heading {
	position: relative;
	font-family: "Playfair Display", serif;
	font-size: 4.4rem;
	padding-bottom: 0.54em;
	border-bottom: 0.1rem solid black;
}

.main_heading::before {
	position: absolute;
	top: -20rem;
	left: -10rem;
	content: "N";
	font-size: 30rem;
	opacity: 0.05;
	z-index: -1;
}

.list_news {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 2em;
}

::placeholder {
	color: #757575;
	opacity: 1;
}

.search_input {
	background: #fcf2f2;
	border: 1px solid black;
	width: -webkit-fill-available;
	color: #212121;
	line-height: 2em;
	padding: 1em 2em;
	outline-color: black;
}

.input_container {
	position: relative;
}

.input_container img {
	position: absolute;
	top: 1.5em;
	right: 2em;
}

@media screen and (min-width: 744px) {
	header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 14.7rem;
		padding-bottom: 0.54em;
		border-bottom: 0.1rem solid black;
	}

	.main_heading {
		margin-top: auto;
		padding-bottom: 0;
		border: none;
	}

	.input_container {
		width: 30%;
	}
}
